.info-modal_mask {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition-duration: .4s;
  background-color:black;  
  z-index: 399;
  visibility: hidden;
}

.info-modal_mask.expanded {
  opacity: .55;
  visibility: visible;
}

.info-modal {
  position: fixed;
  top: 0;
  bottom: -30vh;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  transition-duration: .4s;
  background-color: white;
  border: none;
  opacity: 0;
  z-index: 500;
  width: 400px;
  height: 250px;
  padding: 25px;
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
  visibility: hidden;
}

.info-modal.expanded {
  opacity: 1;
  bottom: 0;
  visibility: visible;
}

@media only screen and (max-width: 550px) {
  .info-modal {
    width: 100vw;
    height: 100vh;
  }
}

.info-modal_button {
  position: absolute;
  top: 10px;
  width: 25px;
  height: 25px;
  right: 25px;
  text-align: center;
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.info-modal_header {
  margin: 0px;
}

.info-modal_icon {
  height: 40px;
  margin-left: 20px;
  width: auto;
}

.info-modal_list {
  max-width: 350px;
  list-style-type: none;
  padding: 0;
}

.info-modal_list li{
  margin: 15px 0;
  font-size: 16px;
  color: #777
}