.slider-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 350px;
}

.slider-container .rc-slider {
  width: 99%;
  margin-left: 1%;
}

.slider-container label {
  font-size: 12px;
  font-weight: 600;
  margin-top: 5px;
}
